$main-white-color: #f5f4ee;
$main-green-color: #A3B18A;
$main-darkened-green-color: #588157;
$main-darkened-green-color-2: #3A5A40;
$main-darkened-green-color-3: #344E41;


$toast-success-color: #51a3515a;
$toast-error-color: #bd362f53;
$toast-info-color: #2f95b448;
$toast-warning-color: #f8930648;